@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
  @apply pr-2; /* Color from the gray palette (bg-gray-700) */
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full; /* Color from the gray palette (bg-gray-600) and rounded ends */
}

::-webkit-scrollbar-track {
  @apply bg-gray-500 my-2  rounded-full; /* Darker color from the gray palette */
}

/* Apply the scrollbar styles to elements with bg-gray-600 */
.bg-gray-600 {
  scrollbar-color: theme('colors.gray.600') theme('colors.gray.800'); /* For Firefox */
}

/*.canvas-container, .upper-canvas {
  height: 100% !important;
  width: 100% !important;
}*/


.react-tooltip {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity, visibility;
  @apply bg-gray-700/60 text-white rounded-md px-2 py-1 text-sm font-semibold;
}

.fixed {
  position: fixed;
}

.arrow {
  position: absolute;
  background: inherit;
}

.noArrow {
  display: none;
}

.clickable {
  pointer-events: auto;
}

.show {
  visibility: visible;
  opacity: var(--rt-opacity);
}

.arrow {
  width: 8px;
  height: 8px;
}

[class*='react-tooltip__place-top'] > .arrow {
  transform: rotate(45deg);
}

[class*='react-tooltip__place-right'] > .arrow {
  transform: rotate(135deg);
}

[class*='react-tooltip__place-bottom'] > .arrow {
  transform: rotate(225deg);
}

[class*='react-tooltip__place-left'] > .arrow {
  transform: rotate(315deg);
}

.text-shadow {
  text-shadow:
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          2px 2px 0 #000;
}
.dark\:text-shadow {
  text-shadow:
          -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
          1px 1px 0 #fff;
}

@keyframes loading {
  0% {
    @apply bg-light-gray-700 ;
  }
  50% {
    @apply bg-light-gray-800;
  }
  100% {
    @apply bg-light-gray-600;
  }
}
@keyframes loading-dark {
  0% {
    background-color: #4a4a4a;
  }
  50% {
    background-color: #5a5a5a;
  }
  100% {
    background-color: #4a4a4a;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.bounce {
  animation: bounce 1s infinite alternate;
}

.animated-placeholder {
  animation: loading 2s infinite alternate ease-in-out;
}
.dark .dark\:animated-placeholder {
  animation: loading-dark 2s infinite alternate ease-in-out;
}

.a-delay-150 {
  animation-delay: 0.15s;
}

.a-delay-300 {
  animation-delay: 0.3s;
}


.animate-border {
  border: 4px solid transparent;
  animation: border-animation 0.8s ease-in-out 7;
}

@keyframes border-animation {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}



